{% extends 'templates/base.twig' %}

{% block body %}

    <main class="w-100 h-100 d-flex justify-content-center align-items-center">
        <section class="card">
            <div class="card-body">
                <p class="text-xl-center">Validate</p>

                <form method="post">

                    <div class="mb-3">
                        <input name="code" class="form-control" required />
                    </div>

                    <button class="btn btn-secondary">
                        Validate code
                    </button>
                </form>

            </div>
        </section>
    </main>
{% endblock %}
