<li class="sidebar-item">
    <a class="sidebar-link" href="{{ path('panel/venues/home') }}">
        <i class="align-middle" data-feather="sliders"></i>
        <span class="align-middle">My Venues</span>
    </a>
</li>