{% extends 'templates/base.twig' %}

{% block body %}

    <main class="w-100 h-100 d-flex justify-content-center align-items-center">
        <section class="card">
            <div class="card-body">
                <p class="text-xl-center">Validate phone number</p>

                <form method="post">

                    <div class="mb-3">
                        <input name="phone" class="form-control" type="text" data-phone value="{{ user.phone }}" required/>
                    </div>

                    <button class="btn btn-secondary">
                        Send Code
                    </button>
                </form>

            </div>
        </section>
    </main>
{% endblock %}
