{% extends 'base.twig' %}

{% block styles %}

    <style>
        .main {
            width: 100%;
            height: 100%;
        }

        .main h1 {
            font-size: 5rem;
        }
    </style>
{% endblock %}

{% block body %}

    <main class="main d-flex justify-content-center align-items-center">
        <div>
            <h1>404</h1>
            <a href="#" class="text-center" id="goBackLink">go back</a>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('goBackLink').addEventListener('click', () => {
                parent.history.back()
            })
        })
    </script>
{% endblock %}