<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>
        {% block title %}
            Index
        {% endblock  %}
    </title>

    <link rel="stylesheet" href="{{ asset_for('template/css/app.css') }}" />
    <link rel="shortcut icon" href="{{ asset_for('template/img/icons/icon-48x48.png') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />

    {% block styles %}
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock %}

    <script src="{{ asset_for('template/js/app.js') }}"></script>
    <script>
        {% if alertMessage is not null %}
            alert('{{ alertMessage.message }}')
        {% endif %}
    </script>
    {% block scripts %}{% endblock %}


</body>
</html>