<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="knx" />
    <title>Dashboard</title>

    <link rel="shortcut icon" href="{{ asset_for('template/img/icons/icon-48x48.png') }}" />
    <link href="{{ asset_for('template/css/app.css') }}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
    <style>
        .sidebar [data-bs-toggle=collapse]:after {
            border: solid;
            border-width: 0 .075rem .075rem 0;
            content: " ";
            display: inline-block;
            padding: 2px;
            position: absolute;
            right: 1.5rem;
            top: 1.2rem;
            transform: rotate(45deg);
            transition: all .2s ease-out;
        }

        .sidebar [aria-expanded=true]:after, .sidebar [data-bs-toggle=collapse]:not(.collapsed):after {
            top: 1.4rem;
            transform: rotate(-135deg);
        }

        .sidebar-dropdown .sidebar-link:before {
            content: "→";
            display: inline-block;
            left: -14px;
            position: relative;
            transform: translateX(0);
            transition: all .1sease;
        }

        .w-fit {
            width: fit-content;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">
        {% include 'templates/layout/sidebarLayout.html.twig' %}

        <div class="main">
            {% include 'templates/layout/headerLayout.html.twig' %}

            <main class="content">
                <div class="container-fluid p-0">
                    {% block body %}
                    {% endblock %}
                </div>
            </main>

            {% include 'templates/layout/footerLayout.html.twig' %}
        </div>
    </div>

    <script src="{{ asset_for('template/js/app.js') }}"></script>
    <script>
        {% if alertMessage is not null %}
        alert('{{ alertMessage.message }}')
        {% endif %}
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
